.button_home {
    background: transparent;
    font: inherit;
    border: 2px solid #fff;
    border-radius: 0;
    padding: 0;
    width: 9.5rem;
    height: 2.5rem;
    color: #fff;
    cursor: pointer;
}

.button_submit {
    background: #292929;
    border-color: #292929;
    border-radius: 300px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font: inherit;
    font-size: 14px;
    height: 42px;
    width: auto;
    padding: 0.8rem;
    font-stretch: 100%;
    letter-spacing: 2px;
    line-height: 14px;
    min-width: 134px;
}

.button_home:focus,
.button_sumit:focus {
    outline: none;
}

.button_home:hover {
    background: #fff;
    color: #000;
}