.settings_new_design_btn_contaiener {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    font: inherit;
}

.settings_new_design_btn_contaiener svg {
    margin-left: 6px;
}

.settings_design_list {
    background: #fff;
    color: #333;
    font-size: 15px;
}

.settings_columns {
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: unset;
}

.settings_img_preview {
    width: 100%;
    height: 50px;
}

.settings_action_column {
    display: flex;
}

.settings_action_column > div {
    margin-right: 1rem;
    cursor: pointer;
}

.settings_modal_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.settings_imageurl_wrapper {
    display: flex;
    justify-content: space-between;
} 

.settings_add_imageurl_icon {
    width: 42px;
    height: 42px;
    border: 2px solid #000000;
    background: #fff;
    color: #000;
    margin-left: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .15s linear;
}

.settings_add_imageurl_icon:hover {
    background: #000;
    color: #fff;
}

.setting_add_imageurl_space {
    width: 42px;
    height: 42px;
    background: transparent;
    margin-left: 1rem;
}

