.settings_new_design_btn_contaiener {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    font: inherit;
}

.settings_new_design_btn_contaiener svg {
    margin-left: 6px;
}

.settings_design_list {
    background: #fff;
    color: #333;
    font-size: 15px;
}