.settings_container {
    padding: 30px 0 23px;
    margin: 0 120px;
}

.settings_new_design_btn_contaiener {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    font: inherit;
}

.settings_new_design_btn_contaiener svg {
    margin-left: 6px;
}

.settings_design_list {
    background: #fff;
    color: #333;
    font-size: 15px;
}

.settings_imageurl_wrapper {
    display: flex;
}

.settings_remove_imageurl_icon,
.settings_add_imageurl_icon {
    width: 42px;
    height: 42px;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    transition: background .15s linear;
    cursor: pointer;
    background: #fff;
}

.settings_add_imageurl_icon:hover {
    color: #fff;
    background: #000;
}

.settings_remove_imageurl_icon:hover {
    color: #fff;
    background: #f00;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .settings_container {
        padding: 1rem;
        margin: 0 0 1rem;
    }
}
