.input_container {
    margin-bottom: 1.5rem;
}

.input {
    border-radius: 0;
    height: 42px;
    font: inherit;
    font-weight: 400;
    padding: 12px;
    font-size: 14px;
    border: none;
}

.input:focus {
    outline: none;
}

.input_err_msg_wrapper {
    width: 100%;
    height: 14px;
    margin-top: 4px;
}

p.input_error_msg {
    font-size: 10px;
    color: #dc3545;
    margin: 0;
}

.is_invalid {
    border: 2px solid #dc3545 !important;
}