.illustrations_detail_container {
    display: flex;
    flex-flow: row wrap;
}

.illustrations_detail_gallery {
    width: 85%;
}

.illustrations_detail_gallery_design {
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustrations_detail_navigator {
    width: 15%;
    margin-top: 47px;
    position: fixed;
    right: 0;
    display: flex;
    justify-content: center;
}

.illustrations_detail_navigator_left,
.illustrations_detail_navigator_right,
.illustrations_detail_navigator_home {
    width: 38px;
    height: 38px;
    line-height: 2rem;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(48, 48, 48);
    color: #fff;
    cursor: pointer;
}

.illustrations_detail_navigator_home {
    margin-left: 0.2rem;
    display: none;
}

.illustrations_detail_navigator_home:before {
    content: "\E014\E014 \E014\E014";
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-size: 8px;
    line-height: 8px;
    letter-spacing: 2px;
    font-weight: 400;
    width: 32px;
    margin-top: 2px;    
    margin-left: 4px;
}

.illustrations_detail_navigator_right {
    margin-left: 0.2rem;
}

.illustrations_detail_navigator_left:hover,
.illustrations_detail_navigator_right:hover {
    opacity: .4;
    border-color: transparent;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .illustrations_detail_container {
        display: flex;
        flex-flow: column nowrap;
        padding-bottom: 84px;
    }

    .illustrations_detail_gallery {
        width: 100%;
    }

    .illustrations_detail_navigator {
        width: 100%;
        margin: 0;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .illustrations_detail_navigator_home {
        display: block;
    }
}
