.layout_container {
    color: #fff;
}

.layout_main_container {
    margin: 150px auto 65px;
}

.layout_main_wrapper {
    background: #333;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .layout_main_container {
        margin: 0;
    }
}
