div.layout_container_loaded {
    animation: fadein 1s;
}

.layout_container {
    background: #333;
    color: #fff;
}

.layout_main_container {
    margin: 150px auto 65px;
}

.layout_main_wrapper {
    padding: 85px 0 23px;
    margin: 0 120px;
}

@keyframes fadein {
    from { opacity: 0;}
    to { opacity: 1;}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .layout_main_container {
        margin: 0;
    }

    .layout_main_wrapper {
        padding: 1rem;
        margin: 0 0 1rem;
    }
}