.modal {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 80%;
    top: 10%;
    left: 10%;
    transform: translateY(-3rem);
    transition: opacity 200ms ease-out, transform 500ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    padding: 2rem;
    z-index: -200;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    background: #fff;
} 

.modal_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.modal_header h2 {
    margin: 0;
}

.modal_close_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal input,
.modal select {
    border: 2px solid #000;
    width: 100%;
}

.modal_main {
    max-height: 400px;
    overflow-y: auto;
}

.modal_show {
    display: block !important;
    opacity: 1 !important;
    z-index: 200;
    transform: translateY(0) !important;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .modal_header h1 {
        font-size: 1.4rem;
    }

    .modal p {
        font-size: 0.8rem;
    }
}