.navbar_container {
    padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    z-index: 99;
    background: #fff;
}

.navbar_list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar_brand_wrapper {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}


a.navbar_brand_wrapper:hover,
a.navbar_brand_wrapper:visited {
    border-bottom-color: transparent;
    height: 100px;
}

.navbar_brand_logo {
    width: 100%;
    height: auto;
}

.navbar_mobile_container {
    display: none;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    
    .navbar_container {
        padding: 0;
        position: static;
        height: auto;
    }

    .navbar_list {
        display: none;
    }

    .navbar_mobile_button {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .navbar_mobile_container {
        background: #333;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0 2rem;
        width: 100%;
    }

    .navbar_mobile_button {
        margin-bottom: 2rem;
    }

    .navbar_mobile_bar {
        height: 3px;
        width: 1.8rem;
        background: #fff;
        margin-bottom: 5px;
    }

    .navbar_mobile_list {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        overflow: hidden;
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0, 0.2, 0.5, 1);
        width: 100%;
    }

    .navbar_mobile_brand_container {
        width: 100%;
        padding: 1.2rem;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar_mobile_brand {
        width: 80px;
        height: 80px;
    }
}
    