.contact_container {
    display: flex;
    justify-content: space-between;
}

.contact_container p {
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.3em;
    color: #fff;
    margin-top: 0;
}

.contact_info {
    width: 35%;
}

.contact_form {
    width: 100%;
    margin-left: 1rem;
    display: flex;
    flex-flow: column nowrap;
}

.contact_form input,
.contact_form textarea {
    display: block;
    width: 100%;
}

.contact_form_name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact_form_name input {
    margin: 0;
}

.contact_form_fname,
.contact_form_lname {
    width: 48%;
}

.contact_form_fname label,
.contact_form_lname label {
    display: flex;
    flex-flow: column nowrap;
    font-size: 10px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .contact_container {
        flex-flow: column nowrap;
    }

    .contact_container p {
        font-size: 15px;
    }

    .contact_info {
        width: 100%;
        margin-bottom: 1rem;
    }

    .contact_form {
        margin: 0;
    }
    
}