.about_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.about_title {
    width: 50%;
}

.about_info {
    width: 100%;
}

.about_photo {
    margin-left: 2rem;
    width: 100%;
}

.about_photo_container {
    width: 480px;
    height: 265px;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .about_container {
        flex-flow: column nowrap;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .about_title {
        width: 100%;
    }

    .about_info {
        margin-bottom: 1rem;
    }

    .about_photo {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about_photo_container {
        max-width: 100%;
        max-height: auto;
    }
}