.navbar_container {
    min-height: 150px;
    padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    z-index: 99;
    background: #fff;
}

.navbar_list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}