.home_container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    z-index: 99;
}

.home_background_container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    top: 0;
    left: 0;
    z-index: -1;
}

.home_background_backdrop {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.home_title_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    width: 100%;
}

.home_title {
    text-align: center;
    font-size: 4rem;
    color: #fff;
    font-weight: 400;
    margin: 0;
    letter-spacing: normal;
    text-transform: lowercase;
}

.home_logo_wrapper {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_logo {
    width: 100%;
    height: auto;
}

.home_button_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media (min-width: 320px) and 
    (max-width: 641px) {    
    .home_title {
        font-size: 3rem;
    }
}
