/* autoprefixer grid: on */ 

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a, a:visited {
  color: #80fbff;
  border-bottom: 1px solid transparent;
  text-decoration: none;
}

a:hover {
  color: #fff;
  border-color: #fff;
  transition: border 0.2s ease-out;
}

h1, h2, h3 ,h4 {
  font-weight: 600;
  letter-spacing: 3.5px;
  line-height: 1.2em;
  margin-top: 0;
  text-transform: uppercase;
}

p {
  font-size: 0.8rem;
  line-height: 1.5;
}

@media(max-width: 410px) {
  #root {
    width: 100vw;
  }
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  p {
    font-size: 1rem;
  }
}